*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
}
.cen{
    width: 50%;
    margin: 60px auto;
    background-color: whitesmoke;
    border-radius: 20px;
    height: auto;
}
header{
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 20px 20px 0 0;
    padding: 10px 0;
}
h1,h2{
    margin: 10px 0;
    padding: 10px 0px;
}
section p{
    margin-left: 10px;
}
li{
    margin-left: 30px;
}
section{
    margin: 0px 20px;
    padding: 0 10px;
}
section a{
    text-decoration: none;
    color: #333;
    margin: 0 0 0 10px;
}
form input , textarea{
    display: block;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0 10px 5px;
}
form button{
    display: block;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}
main{
    margin-bottom: 20px;
}
footer p{
    text-align: center;
    padding: 20px 0 10px 0;
}